<html ng-app="JuegoBingo">

<head>
    <title>Juego Bingo</title>
    <link href="estilos/estilos.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="codigo/app.js"></script>
    <script src="codigo/cantor.js"></script>
    <script src="codigo/tabla.js"></script>
</head>

<body ng-controller="ControladorJuegoBingo">
    <button class="boton" ng-click="iniciarJuego()">
        Iniciar Juego
    </button>
    <button class="boton" ng-click="sacarBalota()">
        Sacar Balota
    </button>

    <div class="ultimaBalota">
        Última balota <span class="numeroBalota">
            {{ cantor.ultimaBalota || "Ninguna" }}
        </span>
        Pendientes <span class="numeroBalota">
            {{ cantor.pendientes || "Ninguna" }}
        </span>
    </div>
    <div class="panelPrincipal">
        <div class="cantor">
            <table class="tablaCantor">
                <thead>
                    <tr>
                        <th>B</th>
                        <th>I</th>
                        <th>N</th>
                        <th>G</th>
                        <th>O</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fila in cantor.tabla">
                        <td ng-repeat="numero in fila" ng-class="{ sacada: cantor.balotasSacadas[numero-1] }">
                            {{ numero }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tablas">
            <div class="jugador" ng-repeat="jugador in jugadores">
                <h3>{{ jugador.nombre }}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>B</th>
                            <th>I</th>
                            <th>N</th>
                            <th>G</th>
                            <th>O</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="fila in jugador.tablaJugador.tabla track by $index">
                            <td ng-repeat="numero in fila track by $index" ng-class="{ sacada: jugador.tablaJugador.tapada[$parent.$index][$index] }">
                                {{ numero }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>